{% extends "base.html" %}
{% load static %}
{% block content %} 
<div  class="list_row section_title section_colors" id="lab-title" data-id="{{object.id}}">Лаборатория: {{object.name}}</div>
-----------
{% comment %}
{% for expert in object.experts.all %}
    <div>{{ expert.last_name }} {{ expert.first_name }}</div>
{%endfor%}

{% for area in object.expertiseareas.all %}
    <div>{{ area.name }}</div>
{%endfor%} {% endcomment %}

<div id ="experts-section" ></div>
<div><button class ="row-button" style="margin: 10px 0; width: 200px" id="add-expert-button">Добавить эксперта</button></div>
-----------
<div id ="permissions-section" ></div>
<div><button  class ="row-button" style="margin: 10px 0; width: 200px" id="add-permission-button">Добавить допуск</button></div>

{#==============================#}
<div id="id-modal-expert" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Выберете эксперта</h2>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="row-button" id="confirm-expert-button">Подтвердить</button>
        </div>
    </div>
</div>


{#==============================#}
<div id="id-modal-permission" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Выберете допуск</h2>
        </div>
        <div class="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
            <p>Больше допусков</p>
            <p>Еще больше допусков</p>
        </div>
        <div class="modal-footer">
            <button class="row-button" id="confirm-permission-button">Подтвердить</button>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
    {{block.super }}
    <script type="module" src="{% static 'expert/js/process-lab-form.js' %}"></script>
{% endblock scripts %}


